<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evergreen.treetop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Treetop">
        <activity android:name=".activities.scouts.form.SC_TeamStrategyForm" />
        <activity android:name=".activities.scouts.form.SC_AllianceStrategyForm" />
        <activity android:name=".activities.users.SC_SignUpActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".activities.scouts.form.SC_FormLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.scouts.form.SC_ResultsForm" />
        <activity android:name=".activities.scouts.form.SC_ScoutingForm" />
        <activity android:name=".activities.scouts.stats.GeneralStats" />
        <activity android:name=".activities.users.SC_SignUpActivity" />
        <activity android:name=".test.TestActivity" />
    </application>

</manifest>