<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.evergreen.treetop">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Branches"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Treetop"
        tools:ignore="AllowBackup">
        <activity android:name=".activities.tasks.units.TM_UnitViewActivity"></activity>
        <activity android:name=".activities.tasks.notes.TM_NotesActivity" />
        <activity android:name=".activities.tasks.units.TM_UnitPickerActivity" />
        <activity android:name=".activities.tasks.TM_ParentPickerActivity" />
        <activity android:name=".activities.tasks.units.TM_UnitEditorActivity" />
        <activity android:name=".activities.tasks.TM_DasboardActivity" />
        <activity android:name=".activities.tasks.goals.TM_GoalEditorActivity" />
        <activity android:name=".activities.tasks.tasks.TM_TaskEditorActivity" />
        <activity android:name=".activities.tasks.goals.TM_GoalViewActivity" />
        <activity android:name=".activities.tasks.tasks.TM_TaskViewActivity" />
        <activity android:name=".activities.scouts.form.SC_TeamStrategyForm" />
        <activity android:name=".activities.scouts.form.SC_AllianceStrategyForm" />
        <activity android:name=".activities.tasks.users.TM_SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TestActivity" />
        <activity android:name=".activities.scouts.form.SC_FormLauncher" />
        <activity android:name=".activities.scouts.form.SC_ResultsForm" />
        <activity android:name=".activities.scouts.form.SC_ScoutingForm" />
        <activity android:name=".activities.scouts.stats.GeneralStats" />
        <activity android:name=".activities.scouts.StatsLauncher" />
    </application>

</manifest>